@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Custom scrollbar for cyber aesthetic */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
  }
  .dark ::-webkit-scrollbar-thumb {
    background-color: #222;
  }

  .glass-panel {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .dark .glass-panel {
    background: rgba(17, 17, 17, 0.7);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }

  .neon-border:focus-within {
    border-color: #00f3ff;
    box-shadow: 0 0 10px rgba(0, 243, 255, 0.2);
  }
}

/* Esto obliga al navegador a usar el color de fondo y texto que tú decidas */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
